<!DOCTYPE html>
<html>

  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="uikit.min.css" />
    <script src="uikit.min.js"></script>
    <script src="uikit-icons.min.js"></script>
    <script src="ko.js"></script>
    <script src="/eel.js"></script>
  </head>

  <script type="text/javascript">
async function run() {
  var e = document.getElementById("WorkflowAll");
  e.innerHTML = "";
  let results = await eel.say_hello_py("Test")();
  //console.log("Got this from Python: " + results);
  results.forEach(function(entry) {
    var div = document.createElement("div");
    var node = document.createTextNode(entry.name);
    div.appendChild(node);
    console.log("Got this from Python: " + entry.name);
    e.appendChild(div);
  });
}
  </script>

  <body><div id="app">
  <button class="uk-button uk-button-primary" type="button">Filter</button>
  <div uk-dropdown>
    <div class="uk-panel">
      <ul class="uk-list">
        <li><label><input class="uk-checkbox" type="checkbox"> Originals ({{ original_count }})</label></li>
        <li><label><input class="uk-checkbox" type="checkbox" checked> Crippled ({{ crippled_count }})</label></li>
        <li><label><input class="uk-checkbox" type="checkbox" checked> Copied ({{ copied_count }})</label></li>
        <li><label><input class="uk-checkbox" type="checkbox" checked> Partial ({{ partial_count }})</label></li>
        <li><label><input class="uk-checkbox" type="checkbox" checked> Restored ({{ restored_count }})</label></li>
        <li><label><input class="uk-checkbox" type="checkbox" checked> Verified ({{ verified_count }})</label></li>
      </ul>
    </div>
  </div>
  <button class="uk-button uk-button-primary">Refresh</button>
  <div class="row">
     <ul uk-tab>
        <li><a href="#">All</a></li>
        <li><a href="#">Original</a></li>
        <li><a href="#">Crippled</a></li>
        <li><a href="#">Copied</a></li>
        <li><a href="#">Partial</a></li>
        <li><a href="#">Restored</a></li>
        <li><a href="#">Verified</a></li>
      </ul>
    <ul class="uk-switcher uk-margin">
      <li><div id="WorkflowAll">test</div></li>
      <li>Ut enim ad minim veniaim, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
      <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
      <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
      <li>Dssuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
    </ul>
  </div>
  </div></body>

  <script type="text/javascript">
const view = {
  original_count: ko.observable(0),
  crippled_count: ko.observable(0),
  copied_count: ko.observable(0),
  partial_count: ko.observable(0),
  restored_count: ko.observable(0),
  verified_count: ko.observable(0),
}
// Add arbitrary values to the view
//view.original_count = ko.computed(() => view.observable().toUpperCase())

// Apply the bindings
ko.applyBindings(view /*, node */)

    run();
  </script>

</html>